$black: #000000;
// Global margin for all components inside login
.mb-sm {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
  background-image: url("/images/login/background.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  .box {
    .logo {
      @extend .mb-sm
    }

    .input {
      @extend .mb-sm;
      background: transparent;
      font-weight: bold;
    }

    a {
      @extend .mb-sm;
      text-decoration: none;
      font-family: "Roboto", "Helvetica", sans-serif;
    }

    .login {
      border: 1px solid $black;
      color: $black;
    }
  }
}