
.mb-sm {
  margin-bottom: 1rem;
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
  background-image: url("/images/login/background.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #000;
    padding: 3rem 1rem 5rem;
    width: 100%;
    box-shadow: 4px 4px 4px 7px rgba(0, 0, 0, 0.25);

    .logo {
      @extend .mb-sm
    }

    .input {
      @extend .mb-sm;
      background: transparent;
      font-weight: bold;
    }

    a {
      @extend .mb-sm;
      text-decoration: none;
      font-family: "Roboto", "Helvetica", sans-serif;
    }

    .login {
      border: 1px solid #000000;
      color: #000;
    }
  }
}